# Configuração do Supabase
NEXT_PUBLIC_SUPABASE_URL=sua-url-do-supabase-aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui

# URL da aplicação em produção (importante para links de confirmação de e-mail)
NEXT_PUBLIC_APP_URL=https://seu-dominio.com
